* {
  margin: 10 auto;
  background-color: burlywood;
}

div {
  width: 80vw;
  margin: auto;
}

.header {
  text-align: center;
  margin-bottom: 10vh;
  margin-top: 5vh;
}

.navigator {
  color: black;
  font-size: large;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 20px;
  border-style: solid;
  border-width: 2px;
}

.navigator:hover {
  color: white;
  background-color: black;
  transition-duration: 0.5s;
}

.nav-button {
  text-align: center;
  width: fit-content;
  margin-bottom: 10vh;
}

.description {
  text-align: center;
}

.card-section {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 5vh;
}

.card {
  background-color: thistle;
  margin: auto;
  width: 20vw;
  height: 30vh;
  border-radius: 15px;
  border-style: double;
  text-align: center;
}

.card:hover {
  background-color: skyblue;
  transition-duration: 0.3s;
}

.card-one:hover,
.card-two:hover,
.card-three:hover {
  height: 40vh;
}

@media (max-width: 750px) {
  .card {
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;
  }
}

h2 {
  background-color: transparent;
}

.restricted-text {
  user-select: none;
}
