@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  color: black;
  font-family: "Rubik", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(#5bc69f 25%, rgb(198, 235, 192));
  /* background-image: url(images/study.svg);
  background-repeat: no-repeat; */
}

div {
  margin: auto;
}

.header {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  width: 100vw;
  top: 0%;
  left: 0%;
  background-color: black;
  position: fixed;
}

.pomodoro-header {
  display: flex;
  flex-direction: row;
}

.header-text {
  color: white;
  font-size: 40px;
}

.error-header {
  color: white;
  line-height: 2em;
  margin-left: 10vw;
  width: 80vw;
}

.timer {
  text-align: center;
  margin-top: 10vh;
  font-size: 69px;
}

.clock {
  font-size: 175px;
  width: 900px;
  margin: 200px;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
}

.card-navigator {
  display: hide;
  color: white;
  font-size: large;
  border-radius: 100px;
  text-decoration: none;
  padding: 7px 17px;
  border-style: solid;
  border-width: 2px;
}

.card-navigator:hover {
  color: black;
  background-color: #a9eed1;
  transition-duration: 0.5s;
}

.card-nav-button {
  visibility: hidden;
  text-align: center;
  width: fit-content;
  margin-bottom: 10vh;
  transition: 0.1s;
}

.nav-button-div {
  width: 20vw;
}

.navigator {
  background-color: white;
  display: hide;
  color: black;
  font-size: large;
  border-radius: 100px;
  text-decoration: none;
  padding: 7px 17px;
  border-style: solid;
  border-width: 2px;
  transition: 0.1s;
}

.navigator:hover {
  color: black;
  background-color: #a9eed1;
}

.nav-button {
  text-align: center;
  width: fit-content;
  margin-bottom: 10vh;
  transition: 0.1s;
}

.description {
  text-align: center;
}

.error-description {
  padding-left: 10vh;
  padding-right: 10vh;
}

.card-section {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 5vh;
  height: 40vh;
}

.card {
  background-color: transparent;
  margin: auto;
  width: 20vw;
  height: 30vh;
  border-radius: 15px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  text-align: center;
  transition: 0.3s;
  line-height: 3em;
}

.hide {
  display: none;
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.7);
  height: 40vh;
  width: 50vh;
}

.card:hover h2 {
  color: white;
}

.card:hover .card-nav-button {
  transform: translate(0vh, 8vh);
  visibility: visible;
}

.card-title {
  margin-bottom: 15vh;
}

.todo {
  text-align: center;
  margin-top: 2vh;
  border-color: black;
}

.restricted-text {
  user-select: none;
}

html,
body {
  margin: 0px;
}

.footer {
  text-align: center;
  width: 100vw;
  bottom: 0;
  background-color: black;
  position: fixed;
}

.footer-text {
  color: white;
  line-height: 2em;
  font-size: small;
}
